# Making sure we don't accidentally upload node
node_modules/

# Not sure what this is, probably something to do with a USB
.DS_Store/

# Trying to avoid uploading the .env file
.env

# Ignoring my test file
test.js